<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mvc</display-name>
  
  <servlet>
  	<servlet-name>mvc</servlet-name>
  	<servlet-class>test.mvc.controller.Hellocontroller</servlet-class>	
  	<init-param>
  		<param-name>commandURI</param-name>
  		<param-value>D:\dev\mvc_git\src\main\webapp\WEB-INF\properties\commandURI.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>mvc</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>user</servlet-name>
  	<servlet-class>member.mvc.controller.MemberController</servlet-class>
  	<init-param>
  		<param-name>memberURI</param-name>
  		<param-value>D:\dev\mvc_git\src\main\webapp\WEB-INF\properties\memberURI.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>user</servlet-name>
  	<url-pattern>*.me</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>board</servlet-name>
  	<servlet-class>board.mvc.controller.BoardController</servlet-class>
  	<init-param>
  		<param-name>boardURI</param-name>
  		<param-value>D:\dev\mvc_git\src\main\webapp\WEB-INF\properties\boardURI.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>board</servlet-name>
  	<url-pattern>*.bo</url-pattern>
  </servlet-mapping>
</web-app>